<h1>Edit</h1>
<form action="{{@../index}}?_method=PUT", method="POST">
<!-- <form action="/pokemon/edit" method="POST"> -->
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{data.name}}"/>
  </div>
  <div>
    <label for="id">ID:</label>
    <input type="text" name="id" value="{{data.id}}"/>
  </div>
    <label for="img">Image URL:</label>
    <input type="text" name="img" value="{{data.img}}"/>
  <div>
    <label for="type">Type:</label>
    <input type="text" name="type" value="{{data.type}}"/>
  </div>
  <div>
    <label for="hp">Hit Points:</label>
    <input type="text" name="hp" value="{{data.hp}}"/>
  </div>
    <div>
    <label for="attack">Attack:</label>
    <input type="text" name="attack" value="{{data.attack}}"/>
  </div>
    <div>
    <label for="defense">Defense:</label>
    <input type="text" name="defense" value="{{data.defense}}"/>
  </div>
    <div>
    <label for="spattack">Special Attack:</label>
    <input type="text" name="spattack" value="{{data.spattack}}"/>
  </div>
    <div>
    <label for="spdefense">Special Defense:</label>
    <input type="text" name="spdefense" value="{{data.spdefense}}"/>
  </div>
    <div>
    <label for="speed">Speed:</label>
    <input type="text" name="speed" value="{{data.speed}}"/>
  </div>
  <hr>
  <div>
    <input class="btn-primary" type="submit" value="Commit Changes"/>
  </div>
</form>
<!-- <form>
  <input type="text" name="description" value="{{todo.description}}" />
  <input type="text" name="urgent" value="{{todo.urgent}}" />
  <input type="submit" value="Submit Changes"/>
</form> -->