<h1> Pokemon </h1>
<ul>
  <img src="{{pokemonByIndex.img}}">
  <h2>{{pokemonByIndex.name}}</h2>
    <li>Type: {{pokemonByIndex.type}}</li>
    <h2>Stats:</h2>
    <ul>
    	<li>Hit Points: {{pokemonByIndex.stats.hp}}</li>
    	<li>Attack: {{pokemonByIndex.stats.attack}}</li>
    	<li>Defense: {{pokemonByIndex.stats.defense}}</li>
    	<li>Seacial Attack: {{pokemonByIndex.stats.spattack}}</li>
    	<li>Special Defense: {{pokemonByIndex.stats.spdefense}}</li>
    	<li>Speed: {{pokemonByIndex.stats.speed}}</li>
    </ul>
    <br>
</ul>
	<form style="display: inline;"action="{{@../index}}?_method=DELETE" method="POST">
        <input type="submit" value="X">
    </form>
<a class="btn btn-default" href="/pokemon">Back to the Pokemon Index</a>

